In [1]:
import pandas as pd

In [2]:
num = [10, 20, 30, 40]
df = pd.DataFrame(num, columns = ['X'])
print(df)

    X
0  10
1  20
2  30
3  40

In [3]:
df['plus_2'] = df['X']+2
print(df)

    X  plus_2
0  10      12
1  20      22
2  30      32
3  40      42

In [4]:
df = df.drop('plus_2', 1)
print(df)

    X
0  10
1  20
2  30
3  40

C:\Users\MINAFA~1\AppData\Local\Temp/ipykernel_28408/2053193866.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('plus_2', 1)

In [15]:
sid = [12547, 12548, 12549]
name = ['John', 'Ben', 'Emily']
field = ['Computer Science', 'Law', 'Finance']

In [16]:
# First Approach
students = pd.DataFrame({'SID': sid, 'Name': name, 'Field': field})
print(students)

     SID   Name             Field
0  12547   John  Computer Science
1  12548    Ben               Law
2  12549  Emily           Finance

In [19]:
# Second Approach
students2 = pd.DataFrame([sid, name, field], columns=['First', 'Second', 'Third'])
print(students2)

              First Second    Third
0             12547  12548    12549
1              John    Ben    Emily
2  Computer Science    Law  Finance

In [18]:
print(students['Name'])

0     John
1      Ben
2    Emily
Name: Name, dtype: object

In [20]:
print(students.iloc[:, :])

     SID   Name             Field
0  12547   John  Computer Science
1  12548    Ben               Law
2  12549  Emily           Finance

In [21]:
print(students.iloc[:, 1:2])

    Name
0   John
1    Ben
2  Emily

In [22]:
print(students.iloc[:, [1, 2]])

    Name             Field
0   John  Computer Science
1    Ben               Law
2  Emily           Finance

In [23]:
print(students.iloc[:2, [1, 2]])

   Name             Field
0  John  Computer Science
1   Ben               Law