In [1]:
import re

In [2]:
sent = 'Alice was born in 1996'
sent = re.sub(r'\d', '', sent)
print(sent)

Alice was born in

In [3]:
sent = 'Alice was born in 1996, in England.'
sent = re.sub(r'[a-z]', '', sent)
print(sent)

A    1996,  E.

In [4]:
sent = 'Alice was born    in 1996.'
sent = re.sub(r'\s+', ' ', sent)
print(sent)

Alice was born in 1996.

In [5]:
sent = '22 years ago, he came to UK, when he was 28'
sent = re.sub(r'^[0-9]{1,}', '', sent)
print(sent)

 years ago, he came to UK, when he was 28

In [6]:
sent = '22 years ago, he came to UK, when he was 28'
sent = re.sub(r'[0-9]{1,}$', '', sent)
print(sent)

22 years ago, he came to UK, when he was

In [7]:
sent = 'Alice was born in 1996, in England.'
sent = re.sub(r'[^a-zA-Z]', ' ', sent)
print(sent)

Alice was born in       in England

In [8]:
sent = 'Alice was born in 1996'
print(re.match(r'.*', sent))

<re.Match object; span=(0, 22), match='Alice was born in 1996'>

In [9]:
date = '12.02.2022'
if (re.match(r'[0-9]{2}(.|/)[0-9]{2}(.|/)[0-9]{2,4}', date)):
    print('Matched.')
else:
    print('Not matched!')

Matched.

In [10]:
sent = 'Alice was born in 1996'
print(re.findall(r'[0-9]{1,}', sent))

['1996']

In [11]:
sent = 'Alice was born in 1996'
print(re.findall(r'alice', sent))

[]

In [12]:
sent = 'Alice was born in 1996'
print(re.findall(r'alice', sent, flags=re.I))

['Alice']

In [ ]:
The linke to the regex online tool:
https://regex101.com/

In [ ]:
Practice:

Please write a regex pattern that matches this pattern:

Two letters followed by two numbers, one space, one number and two letters

Example: PE27 4AA