In [15]:
# Importing the libraries
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [16]:
dataset = pd.read_csv('Car_Prices.csv')
dataset

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...,...
117922,117922,volvo,xc-90,gen-ii-2014-xc-90,2020,40000,1969,Hybrid,Katowice,Śląskie,222790
117923,117923,volvo,xc-90,gen-ii-2014-xc-90,2017,51000,1969,Diesel,Chechło Pierwsze,Łódzkie,229900
117924,117924,volvo,xc-90,gen-ii-2014-xc-90,2016,83500,1969,Gasoline,Pruszcz Gdański,Pomorskie,135000
117925,117925,volvo,xc-90,gen-ii-2014-xc-90,2017,174000,1969,Diesel,Kalisz,Wielkopolskie,154500
117926,117926,volvo,xc-90,gen-ii-2014-xc-90,2016,189020,1969,Gasoline,Sionna,Mazowieckie,130000

In [24]:
data = dataset.iloc[:, [1,2,3,4,5,6,7,-1]].values

In [25]:
data

array([['opel', 'combo', 'gen-d-2011', ..., 1248, 'Diesel', 35900],
       ['opel', 'combo', 'gen-d-2011', ..., 1499, 'Diesel', 78501],
       ['opel', 'combo', 'gen-d-2011', ..., 1598, 'Diesel', 27000],
       ...,
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969, 'Gasoline',
        135000],
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969, 'Diesel',
        154500],
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969, 'Gasoline',
        130000]], dtype=object)

In [26]:
# Taking care of missing data
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(data[:, [3,4,5,-1]])
data[:, [3,4,5,-1]] = imputer.transform(data[:, [3,4,5,-1]])

In [27]:
data

array([['opel', 'combo', 'gen-d-2011', ..., 1248.0, 'Diesel', 35900.0],
       ['opel', 'combo', 'gen-d-2011', ..., 1499.0, 'Diesel', 78501.0],
       ['opel', 'combo', 'gen-d-2011', ..., 1598.0, 'Diesel', 27000.0],
       ...,
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969.0, 'Gasoline',
        135000.0],
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969.0, 'Diesel',
        154500.0],
       ['volvo', 'xc-90', 'gen-ii-2014-xc-90', ..., 1969.0, 'Gasoline',
        130000.0]], dtype=object)

In [30]:
data = pd.DataFrame(data)
data

,0,1,2,3,4,5,6,7
0,opel,combo,gen-d-2011,2015.0,139568.0,1248.0,Diesel,35900.0
1,opel,combo,gen-d-2011,2018.0,31991.0,1499.0,Diesel,78501.0
2,opel,combo,gen-d-2011,2015.0,278437.0,1598.0,Diesel,27000.0
3,opel,combo,gen-d-2011,2016.0,47600.0,1248.0,Diesel,30800.0
4,opel,combo,gen-d-2011,2014.0,103000.0,1400.0,CNG,35900.0
...,...,...,...,...,...,...,...,...
117922,volvo,xc-90,gen-ii-2014-xc-90,2020.0,40000.0,1969.0,Hybrid,222790.0
117923,volvo,xc-90,gen-ii-2014-xc-90,2017.0,51000.0,1969.0,Diesel,229900.0
117924,volvo,xc-90,gen-ii-2014-xc-90,2016.0,83500.0,1969.0,Gasoline,135000.0
117925,volvo,xc-90,gen-ii-2014-xc-90,2017.0,174000.0,1969.0,Diesel,154500.0
117926,volvo,xc-90,gen-ii-2014-xc-90,2016.0,189020.0,1969.0,Gasoline,130000.0

In [31]:
data.isnull().values.any()

True

In [34]:
data = data.dropna()
data

,0,1,2,3,4,5,6,7
0,opel,combo,gen-d-2011,2015.0,139568.0,1248.0,Diesel,35900.0
1,opel,combo,gen-d-2011,2018.0,31991.0,1499.0,Diesel,78501.0
2,opel,combo,gen-d-2011,2015.0,278437.0,1598.0,Diesel,27000.0
3,opel,combo,gen-d-2011,2016.0,47600.0,1248.0,Diesel,30800.0
4,opel,combo,gen-d-2011,2014.0,103000.0,1400.0,CNG,35900.0
...,...,...,...,...,...,...,...,...
117922,volvo,xc-90,gen-ii-2014-xc-90,2020.0,40000.0,1969.0,Hybrid,222790.0
117923,volvo,xc-90,gen-ii-2014-xc-90,2017.0,51000.0,1969.0,Diesel,229900.0
117924,volvo,xc-90,gen-ii-2014-xc-90,2016.0,83500.0,1969.0,Gasoline,135000.0
117925,volvo,xc-90,gen-ii-2014-xc-90,2017.0,174000.0,1969.0,Diesel,154500.0
117926,volvo,xc-90,gen-ii-2014-xc-90,2016.0,189020.0,1969.0,Gasoline,130000.0

In [35]:
data.isnull().values.any()

False